<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd                        
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- Transaction template for Managers, from: http://blog.exis.com/colin/archives/2004/07/31/concise-transaction-definitions-spring-11/ -->

	<bean id="txProxyTemplate" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="txProxyTemplateActivity" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="hibernateTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- ====================== DATA MANAGER - BASE ======================= -->

	<bean id="baseManager" parent="txProxyTemplate">
		<property name="target">
			<bean class="sg.edu.nus.iss.vms.common.service.impl.BaseManager">
				<property name="dao" ref="dao" />
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- ====================== DATA MANAGER - QUERY ====================== -->
	<bean id="queryParameterManager" parent="txProxyTemplate">
		<property name="target">
			<bean
				class="sg.edu.nus.iss.vms.common.service.impl.BaseQueryParameterManager">
				<property name="dao" ref="dao" />
				<property name="queryParameterDao" ref="queryParameterDao" />
			</bean>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- ====================== BATCH PROCESS ====================== -->


	<!-- ====================== USER AUTHENTICATION ====================== -->

	<!-- ====================== MALICIOUS ====================== -->	

	<bean id="appCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>/WEB-INF/ehcache.xml</value>
		</property>
	</bean>

	<bean id="methodTimingAdvice"
		class="sg.edu.nus.iss.vms.web.interceptor.MethodTimingInterceptor" />

	<bean id="methodCachingAdvice"
		class="sg.edu.nus.iss.vms.web.interceptor.MethodCachingInterceptor">
		<property name="cacheManager" ref="appCacheManager" />
	</bean>

	<aop:config>
		<aop:pointcut id="getAllItemsPointcut"
			expression="execution(* *..StaffManagementServicesImpl.getListOfUser())" />
		<aop:advisor id="methodTimingAdvisor" advice-ref="methodTimingAdvice"
			pointcut-ref="getAllItemsPointcut" />
		<aop:advisor id="methodCachingAdvisor" advice-ref="methodCachingAdvice"
			pointcut-ref="getAllItemsPointcut" />
	</aop:config>
</beans>