<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BEAN : Page -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

	<bean id="memberController"
		class="sg.edu.nus.iss.vms.member.web.controller.MemberController">		
		<property name="memberManagementService" ref="memberManagementService" />
		<property name="projectManagementService" ref="projectManagementService" />
	</bean>

	<aop:config>
		<aop:pointcut id="getAllMemberItemsPointcut"
			expression="execution(* 
		*..MemberManagementServiceImpl.getListOfMembers())" />
		<aop:advisor id="methodTimingAdvisor" advice-ref="methodTimingAdvice"
			pointcut-ref="getAllMemberItemsPointcut" />
		<aop:advisor id="methodCachingAdvisor" advice-ref="methodCachingAdvice"
			pointcut-ref="getAllMemberItemsPointcut" />
	</aop:config>



	<bean id="methodTimingAdvice"
		class="sg.edu.nus.iss.vms.web.interceptor.MethodTimingInterceptor" />

	<bean id="methodCachingAdvice"
		class="sg.edu.nus.iss.vms.web.interceptor.MethodCachingInterceptor">
		<property name="cacheManager" ref="appCacheManager" />
	</bean>

</beans>