<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- <bean/> definitions here -->

        <bean id="sessionBean" class="sg.edu.nus.iss.vms.common.SessionBean"
              scope="session">
                <aop:scoped-proxy />
        </bean>


	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BEAN : DWR -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->


        <bean id="vmsDwr" class="sg.edu.nus.iss.vms.common.dwr.VmsDwr">
                <property name="volunteerManagementService" ref="volunteerManagementServiceImpl" />
        </bean>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BEAN : Page -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

        <bean id="messageSource"
              class="org.springframework.context.support.ResourceBundleMessageSource">
                <property name="basename" value="messages" />
        </bean>

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BEAN : Page Common -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <bean id="welcomeController"
              class="sg.edu.nus.iss.vms.common.web.controller.WelcomeController" />
		
		
		
        <bean id="loginValidator" class="sg.edu.nus.iss.vms.web.security.LoginValidator"/>
        <bean id="loginController" class="sg.edu.nus.iss.vms.web.security.LoginFormController">
                <property name="securityManager" ref="SecurityManagementServiceImpl" />
                <property name="sessionForm">
                        <value>true</value>
                </property>
                <property name="commandName">
                        <value>loginCommand</value>
                </property>
                <property name="commandClass">
                        <value>sg.edu.nus.iss.vms.web.security.LoginCommand</value>
                </property>
                <property name="validator">
                        <ref bean="loginValidator" />
                </property>
                <property name="formView">
                        <value>login</value>
                </property>
                <property name="successView">
                        <value>/common/welcome.html</value>
                </property>			
        </bean>
	
	<!-- Menu -->
	
	
</beans>
