<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
	<!-- BEAN : Page -->
	<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
                

	<bean id="projectValidator" class="sg.edu.nus.iss.vms.project.web.controller.ProjectValidator">
    </bean>
        
	<bean id="projectController"
		class="sg.edu.nus.iss.vms.project.web.controller.ProjectController">
		<property name="memberManagementService" ref="memberManagementServiceImpl" />
		<property name="projectManagementService" ref="projectManagementServiceImpl" />
		<property name="userManagementServices" ref="userManagementServiceImpl" />
		 <property name="projectFeedbackService" ref="projectFeedbackServiceImpl" />
		<property name="projectProposalService" ref="projectProposalServiceImpl" />
		 <property name="projectInterestService" ref="projectInterestServiceImpl" />
   		<property name="validators" ref="projectValidator" />
	</bean>
	
	
	
	

</beans>