<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>VMS</display-name>
	<context-param>
		<param-name>sitemesh.configfile</param-name>
		<param-value>/WEB-INF/config/sitemesh.xml</param-value>
	</context-param>

	<filter>
		<filter-name>AuthorisationFilter</filter-name>
		<filter-class>sg.edu.nus.iss.vms.web.security.AuthorisationFilter</filter-class>
			<init-param>
			<param-name>authorisation_enabled</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>error_page</param-name>
			<param-value>/error.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>login_page</param-name>
			<param-value>/login.html</param-value>
		</init-param>
		<init-param>
			<param-name>unauthorised_page</param-name>
			<param-value>/unauthorised.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>exclude_pages</param-name>
			<param-value>/VMS/sys/css/reset.css,/VMS/sys/css/global.css,/VMS/error.jsp,/VMS/unauthorised.jsp,/VMS/WEB-INF/pages/login.jsp,/VMS/login.html</param-value>
		</init-param>
	</filter>


	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorisationFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<!-- =================== SPRING CONFIG =================== -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/spring-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>sg.edu.nus.iss.vms.common.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/dispatcher-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>targetInitClass</param-name>
			<param-value>sg.edu.nus.iss.vms.common.ApplicationInitializer</param-value>
		</init-param>
		<!--
			Custom: Method name responsible for init, method name must exist in
			class as defined in 'targetInitClass'
		-->
		<init-param>
			<param-name>targetInitMethod</param-name>
			<param-value>init</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- =================== DWR =================== -->

	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/dwr.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>pollAndCometEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.directwebremoting.extend.ServerLoadMonitor</param-name>
			<param-value>org.directwebremoting.impl.PollingServerLoadMonitor</param-value>
		</init-param>
		<init-param>
			<param-name>maxWaitAfterWrite</param-name>
			<param-value>-1</param-value>
		</init-param>
		<init-param>
			<param-name>disconnectedTime</param-name>
			<param-value>6000</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>