<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
        <bean id="SecurityManagementServiceImpl"
		class="sg.edu.nus.iss.vms.security.service.impl.SecurityManagementServiceImpl">
                <property name="manager" ref="baseManager" />
                <property name="sessionBean" ref="sessionBean" />
                <property name="passwordEncoder" ref="passwordEncoder"/>
        </bean>
        
        <bean id="passwordEncoder" class="org.springframework.security.providers.encoding.ShaPasswordEncoder" /> 
</beans>