Dear $FullName,

We like to invite to $ProjectName at $ProjectLocation.

$ProjectUrl

hope to see you soon.

Thank you very much.

Best Regards,
VMS Administrator

Email: admin@group.myvnc.com
Website: http://group.myvnc.com/VMS
Tel: 6868 - 8888