Dear $FullName,

We have received your password change request and your password is successfully changed.

Here is your new credential:
---------------------------------	
Username : $loginname
New Password : $password
---------------------------------

You can also click this $UpdateProfileLink to update your profile.

This is an automated email, please do not reply. Contact us at $ContactUsStaticURL instead.
Thank you very much.

Best Regards,
VMS Administrator

Email: admin@group.myvnc.com
Website: http://group.myvnc.com/VMS
Tel: 6868 - 8888