Dear $name,

Thank you for your password change request.

Please use the following access code that will allow you to login to our system.

Password : $password

Please copy or note the access code and click this link to enter your new password.

Best Regards,
Team 8s @ NUS
xx
Tel: 67xxxxxx